body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://4kwallpapers.com/images/wallpapers/i-love-you-kawaii-3840x2160-11020.jpg'); /* URL da imagem de fundo */
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Não repete a imagem */
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 2.5em;
    color: #ff69b4;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-items: center;
    transition: all 0.5s ease-in-out; /* Suavizar o afastamento das caixas */
}

.box {
    width: 120px;
    height: 120px;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s, width 0.5s ease-in-out;
    perspective: 1000px;
}

.box:hover {
    transform: scale(1.1);
}

.box.open {
    width: 300px; /* Expande a caixa ao ser aberta */
}

.lid {
    width: 120px;
    height: 30px;
    background-color: #ff69b4;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px 5px 0 0;
    transition: transform 0.5s;
    transform-origin: top;
    transform-style: preserve-3d;
}

.ribbon {
    width: 20px;
    height: 120px;
    background-color: #c71585;
    position: absolute;
    top: 0;
    left: 50px;
    border-radius: 5px;
    z-index: 1;
}

.present {
    width: 120px;
    height: 120px;
    background-color: #ffb6c1;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    opacity: 1;
    transition: opacity 0.5s;
}

.box.open .lid {
    transform: rotateX(-90deg); /* Move a tampa para trás */
}

.message {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff5f8;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 1.2em;
    color: #d147a3;
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s; /* Adiciona transição ao mover a mensagem */
    z-index: -1;
    transform: scale(0.8);
}

.box.open .message {
    opacity: 1;
    bottom: -120px; /* Muda a posição para melhor visibilidade */
    z-index: 0;
    transform: scale(1); /* Escala para o tamanho original */
}

.grid.open .box:not(.open) {
    transform: translateX(150px); /* Afastar caixas não abertas para a direita */
}

.grid.open .box:nth-child(n+6) {
    transform: translateY(150px); /* Move as caixas da segunda linha para baixo */
}
